# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

/css/main.css
/css/normalize.min.css
.gitignore
d-captcha.min.js
/testing/test.html
/testing/svg.html
index.html
