# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

/css/
.gitignore
d-captcha.min.js
/script/unit-testing.js
index.html
test.html
svg.html